apiVersion: v1
kind: Service
metadata:
  name: mongo
  labels:
    app: pacman
    component: database
spec:
  ports:
  - port: 27017
    targetPort: 27017
  selector:
    app: pacman
    component: database
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: mongo
  labels:
    app: pacman
    component: database
spec:
  replicas: 1
  selector:
    matchLabels:
      app: pacman
      component: database
  template:
    metadata:
      labels:
        app: pacman
        component: database
    spec:
      containers:
      - name: mongo
        image: mongo:latest
        ports:
        - containerPort: 27017
        env:
        - name: MONGO_INITDB_DATABASE
          value: "pacman"
        volumeMounts:
        - name: mongo-storage
          mountPath: /data/db
      volumes:
      - name: mongo-storage
        emptyDir: {}
